@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: #ffffff; /* Cor branca */
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

h1 {
  font-size: 2em; /* 2 vezes maior que o tamanho padrão */
  margin-top: 1em; /* Adiciona uma linha acima do h1 */
  margin-bottom: 1em; /* Adiciona uma linha abaixo do h1 */
}

* {
  color: black; /* Define a cor da fonte como preta */
}

a {
  color: blue; /* Define a cor da fonte como preta */
}